:root{
    --greenish: #DBF301;
    --skyblue:  #485AFF;
    --bluish: #110D33;
    --teamcolor: #D9D9D9;
    --ceoColor: #FDBA74;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
}



.wrapper{
    max-width: 1215px;
    margin: 0 auto;
}


a{
    text-decoration: none;
}

section{
    margin: 0px auto;
    padding: 0px 0px;
    color: #fff;
}


h2{
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-align: center;
}